<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>
<form method="POST" action="{% url 'make_order' %}">
    {% csrf_token %}
    {% for item in item_list %}
        <div>
            <h1>Название: {{ item.name }}</h1>
            <p>Описание: {{ item.description }}</p>
            <p>ID товара: {{ item.id }}</p>
            <p>Цена: {{ item.price }}</p>
            <label for="{{ item.id }}">Добавить в заказ?</label>
            <input type="checkbox" id="{{ item.id }}" name="items" value="{{ item.id }}">

        </div>
    {% endfor %}

    <div>
        <button>Сделать заказ</button>
    </div>
</form>

</body>
</html>