<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ item.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<h2>ID вашего заказа: {{ order.id }}</h2>
{% for item in order.items.all %}
    <div>
        <h3>Название: {{ item.name }}</h3>
        <p>Описание: {{ item.description }}</p>
        <p>ID товара: {{ item.id }}</p>
        <p>Цена: {{ item.price }}</p>
    </div>
{% endfor %}
{% for discount in order.discount_order.all %}
    <h2>Ваш промокод: {{ discount.name }}</h2>
    <h2>Размер скидки:{{ discount.percent }}% </h2>
{% endfor %}

<div>
    <button id="checkout-button">Оплатить</button>
</div>
<script type="text/javascript">
    let stripe = Stripe('{{ stripe_publishable_key }}');
    let checkoutButton = document.getElementById('checkout-button');
    checkoutButton.addEventListener('click', function () {
        fetch('/buy/order/{{ order.id }}', {
            method: 'GET',
        }).then(function (response) {
            return response.json()
        }).then(function (session) {
            console.log(session)
            return stripe.redirectToCheckout({sessionId: session.id});
        })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    });
</script>
</body>
</html>